/* our custom CSS file*/ 
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .card {
    width: 16rem;
    margin: auto;
  }

  h1, h5 {
    text-align: center;
  }

  .hero-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem;
  }

  .card {
    margin-bottom: 2rem;
  }

  .navbar {
    justify-content: center;
  }